<ion-header style="z-index:0;">
  <ion-toolbar>
    <ion-title style="text-align: center;">Register</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="close()" size="large" name="close-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>


    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CODIGO_VISITANTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CODIGO_VISITANTE" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">NOMBRE_VISITANTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.NOMBRE_VISITANTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CEDULA_VISITANTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CEDULA_VISITANTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">EMPRESA_VISITANTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.EMPRESA_VISITANTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">FOTO_VISITANTE:</ion-col>
      <ion-col size="8">
        <ion-textarea [(ngModel)]="objtemp.FOTO_VISITANTE"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">TIPO:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.TIPO" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">AREA_VISITA:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.AREA_VISITA"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">RESPONSABLE:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.RESPONSABLE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">OBSERVACION:</ion-col>
      <ion-col size="8">
        <ion-textarea [(ngModel)]="objtemp.OBSERVACION"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CODIGO_TURNO:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CODIGO_TURNO" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CODIGO_PUNTO_CONTROL:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CODIGO_PUNTO_CONTROL" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">NOMBRE_PUNTO_CONTROL:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.NOMBRE_PUNTO_CONTROL"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CODIGO_SUCURSAL_CLIENTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CODIGO_SUCURSAL_CLIENTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">NOMBRE_SUCURSAL_CLIENTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.NOMBRE_SUCURSAL_CLIENTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">
        DIRECCION_SUCURSAL_CLIENTE:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.DIRECCION_SUCURSAL_CLIENTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">
        TELEFONO_SUCURSAL_CLIENTE:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.TELEFONO_SUCURSAL_CLIENTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CODIGO_USUARIO:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CODIGO_USUARIO"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">NOMBRE_USUARIO:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.NOMBRE_USUARIO"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">TELEFONO_USUARIO:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.TELEFONO_USUARIO"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CANTIDAD_ADJUNTOS:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CANTIDAD_ADJUNTOS"></ion-input>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">LISTA_ADJUNTOS:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.LISTA_ADJUNTOS"></ion-input>
      </ion-col>
    </ion-row> -->



  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid *ngIf="id != ''">
      <ion-row>
        <ion-col>
          <ion-slides pager="true">
            <ion-slide *ngFor="let a of attachments">
              <img [src]="a.FOTO" />
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="end">
      <ion-icon *ngIf="id != ''" size="large" (click)="captureImage()" name="camera"></ion-icon>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button *ngIf="attachments.length == 0" (click)="pushDataTemp()">Submit</ion-button>
          <ion-button (click)="pushData1Temp()" *ngIf="attachments.length > 0">Add Attachments</ion-button>
          <ion-button (click)="removeAllImages()" *ngIf="attachments.length > 0">Cancel</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>
