<ion-header style="z-index: 0;">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Offline Sync
    </ion-title>
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="new">
        <ion-label>New</ion-label>
      </ion-segment-button>
      <ion-segment-button value="existings">
        <ion-label>Existing</ion-label>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar *ngIf="segment == 'existings'">
    <!-- <ion-searchbar></ion-searchbar> -->
    <h4 style="text-align: center;"><b>Data Count({{dataFromApi.length}})</b></h4>
  </ion-toolbar>
  <ion-toolbar style="text-align: center;" *ngIf="segment == 'new'">
    <ion-icon style="position: relative;top:10px;" (click)="captureImage()" size="large" name="camera"></ion-icon>
    Attachments

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-text *ngIf="segment == 'existings'" color="success">


  </ion-text>
  <ion-card *ngIf="segment == 'existings'">

    <ion-card-content *ngFor="let d of dataFromApi;let i = index;">
      <!-- <b  style="color: #222;">{{d | json}}</b> -->
      <p>CODIGO: {{d.CODIGO}}</p>

      <p>FECHA_INGRESO: {{d.FECHA_INGRESO}}</p>
      <p>F_INGRESO: {{d.F_INGRESO}}</p>
      <p>FECHA_SALIDA: {{d.FECHA_SALIDA}}</p>
      <p> F_SALIDA: {{d.F_SALIDA}}</p>
      <p>CODIGO_VISITANTE: {{d.CODIGO_VISITANTE}}</p>
      <p>NOMBRE_VISITANTE:{{d.NOMBRE_VISITANTE}}</p>
      <p>CEDULA_VISITANTE:{{d.CEDULA_VISITANTE}}</p>
      <p>EMPRESA_VISITANTE: {{d.EMPRESA_VISITANTE}}</p>
      <p>FOTO_VISITANTE:{{d.FOTO_VISITANTE}}</p>
      <p>TIPO: {{d.TIPO}}</p>
      <p>AREA_VISITA: {{d.AREA_VISITA}}</p>
      <p>RESPONSABLE:{{d.RESPONSABLE}} </p>
      <p>OBSERVACION: {{d.OBSERVACION}}</p>
      <p>CODIGO_TURNO: {{d.CODIGO_TURNO}}</p>
      <p>CODIGO_PUNTO_CONTROL:{{d.CODIGO_PUNTO_CONTROL}} </p>
      <p>NOMBRE_PUNTO_CONTROL:{{d.NOMBRE_PUNTO_CONTROL}} </p>
      <p>CODIGO_SUCURSAL_CLIENTE: {{d.CODIGO_SUCURSAL_CLIENTE}}</p>
      <p>NOMBRE_SUCURSAL_CLIENTE: {{d.NOMBRE_SUCURSAL_CLIENTE}}</p>
      <p>DIRECCION_SUCURSAL_CLIENTE: {{d.DIRECCION_SUCURSAL_CLIENTE}}</p>
      <p>TELEFONO_SUCURSAL_CLIENTE: {{d.TELEFONO_SUCURSAL_CLIENTE}}</p>
      <p>CODIGO_USUARIO: {{d.CODIGO_USUARIO}}</p>
      <p>NOMBRE_USUARIO: {{d.NOMBRE_USUARIO}}</p>
      <p>TELEFONO_USUARIO: {{d.TELEFONO_USUARIO}}</p>
      <p>CANTIDAD_ADJUNTOS: {{d.CANTIDAD_ADJUNTOS}}</p><br />
      <p>LISTA_ADJUNTOS:</p>
      <p *ngFor="let l of d.LISTA_ADJUNTOS">
        <b *ngIf = 'l.base64 != true'>
            <p>CODIGO:{{l.CODIGO}}</p>
            <p>FOTO:<span style="text-decoration: underline;color: blue;" (click)="openImage(l.FOTO)">{{l.FOTO}}</span></p>
            <p>TIPO:{{l.TIPO}}</p>
            <p>OBSERVACION:{{l.OBSERVACION}}</p>
            <p>CODIGO_BITACORA:{{l.CODIGO_BITACORA}}</p>
        </b>
      </p>
      <!-- LISTA_ADJUNTOS: any[] -->

    </ion-card-content>

  </ion-card>
  <ion-grid *ngIf="segment == 'new'">
    <!-- <ion-text *ngIf="attachments.length > 0">

      <b>
        {{attachments | json}}
      </b>
    </ion-text> -->
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CODIGO_VISITANTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CODIGO_VISITANTE" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">NOMBRE_VISITANTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.NOMBRE_VISITANTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CEDULA_VISITANTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CEDULA_VISITANTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">EMPRESA_VISITANTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.EMPRESA_VISITANTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">FOTO_VISITANTE:</ion-col>
      <ion-col size="8">
        <ion-textarea [(ngModel)]="objtemp.FOTO_VISITANTE"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">TIPO:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.TIPO" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">AREA_VISITA:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.AREA_VISITA"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">RESPONSABLE:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.RESPONSABLE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">OBSERVACION:</ion-col>
      <ion-col size="8">
        <ion-textarea [(ngModel)]="objtemp.OBSERVACION"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CODIGO_TURNO:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CODIGO_TURNO" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CODIGO_PUNTO_CONTROL:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CODIGO_PUNTO_CONTROL" type="tel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">NOMBRE_PUNTO_CONTROL:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.NOMBRE_PUNTO_CONTROL"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CODIGO_SUCURSAL_CLIENTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CODIGO_SUCURSAL_CLIENTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">NOMBRE_SUCURSAL_CLIENTE:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.NOMBRE_SUCURSAL_CLIENTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">
        DIRECCION_SUCURSAL_CLIENTE:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.DIRECCION_SUCURSAL_CLIENTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">
        TELEFONO_SUCURSAL_CLIENTE:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.TELEFONO_SUCURSAL_CLIENTE"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CODIGO_USUARIO:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CODIGO_USUARIO"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">NOMBRE_USUARIO:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.NOMBRE_USUARIO"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">TELEFONO_USUARIO:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.TELEFONO_USUARIO"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">CANTIDAD_ADJUNTOS:
      </ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.CANTIDAD_ADJUNTOS"></ion-input>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col style="text-align: right;text-transform: uppercase;font-weight: bold;" size="4">LISTA_ADJUNTOS:</ion-col>
      <ion-col size="8">
        <ion-input [(ngModel)]="objtemp.LISTA_ADJUNTOS"></ion-input>
      </ion-col>
    </ion-row> -->



  </ion-grid>
</ion-content>
<ion-footer *ngIf="segment == 'new'">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button (click)="pushDataTemp()">Submit</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
